<div class="container main-content-primary">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <a class="btn btn-primary" ng-click="export(inline_es,totranslateLang )">Export</a>

      <input type="file" fileread="initial" filestate="" />

      <input type="file" fileread="totranslate" />

      <table class="table">
        <thead>
          <tr>
            <th>Ref</th>
            <th>Key</th>
            <th>{{initialLang}}</th>
            <th>{{totranslateLang}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in metadata" ng-class="item.hasOwnProperty('missing') ? 'missing' : ''">
            <td>{{$index}}</td>
            <td width="15%">{{key}}</td>
            <td>
              <input class="form-control" tabindex="{{ item.hasOwnProperty('missing') ? 0 : -1 }}" type="text" ng-model="value[initialLang]"
                ng-change="markMissingTranslations(item)">
            </td>
            <td>
              <input class="form-control" tabindex="{{ item.hasOwnProperty('missing') ? 0 : -1 }}" type="text" ng-model="value[totranslateLang]"
                ng-change="markMissingTranslations(item)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>