<div class="container main-content-primary">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      

      <input type="file" fileread="lhs" />
      <input type="file" fileread="rhs" />

      <div ng-if="metadata">
        <table class="table">
          <thead>
            <tr>
              <th>Ref</th>
              <th>Key</th>
              <th>{{initialLang}} - <a class="btn btn-primary" ng-click="export(metadata, 'lhs' )">Export</a></th>
              <th>{{totranslateLang}} - <a class="btn btn-primary" ng-click="export(metadata, 'rhs' )">Export</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in metadata" ng-class="value.hasOwnProperty('missing') ? 'missing' : ''">
              <td>{{$index}}</td>
              <td>{{key}}</td>
              <td>
                <input class="form-control" type="text" ng-model="value.lhs" ng-change="markMissingTranslations(value)">
              </td>
              <td>
                <input class="form-control" type="text" ng-model="value.rhs" ng-change="markMissingTranslations(value)">
              </td>
              <!--<td>

              </td>-->
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!metadata">
        <h3>No metadata yet</h3>
      </div>
    </div>
  </div>
</div>