<div class="text-center">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <span class="svg-modal" ng-include="getSvg('logo-orsonlift-split')"></span>
    <p>{{message}}</p>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">{{btnCancel}}</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">{{btnOk}}</button>
</div>
